@model Bookomari.com.Models.BookEditViewModel

@{
    ViewData["Title"] = "Create";
    var Authors = ViewBag.Authors;
}

<h1>Create</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BookName" class="control-label"></label>
                <input asp-for="BookName" class="form-control" />
                <span asp-validation-for="BookName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Language" class="control-label"></label>
                <input asp-for="Language" class="form-control" />
                <span asp-validation-for="Language" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoverPhoto" class="control-label"></label>
                <input asp-for="CoverPhoto" class="form-control-file" type="file" />
                <span asp-validation-for="CoverPhoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorId" class="control-label"></label>
                <select asp-for="AuthorId" class ="form-control" asp-items="Authors"></select>
                @*<input type="hidden" asp-for="AuthorId" />
                <input type="hidden" asp-for="Author.AuthorId" />
                <input type="hidden" asp-for="Author.AuthorName" />
                <input type="hidden" asp-for="Author.Address" />
                <input type="hidden" asp-for="Author.AuthorPhoto" />
                <input type="hidden" asp-for="Author.Books" />*@                
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
