@model Bookomari.com.Models.BookEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="BookName" class="control-label"></label>
                <input asp-for="BookName" class="form-control" />
                <span asp-validation-for="BookName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Language" class="control-label"></label>
                <input asp-for="Language" class="form-control" />
                <span asp-validation-for="Language" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoverPhoto" class="control-label">Select an image</label>                             
                <input asp-for="CoverPhoto" class="form-control-file" type="file" />
                <span asp-validation-for="CoverPhoto" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <label asp-for="Author.AuthorId" class="control-label">Author</label>
                <input asp-for="Author.AuthorId" asp-route-id="@Model.AuthorId" class="form-control" disabled />
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Author.AuthorName" class="control-label">Author</label>
                <input asp-for="Author.AuthorName" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Author.Address" class="control-label">Author</label>
                <input asp-for="Author.Address" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Author.AuthorPhoto" class="control-label">Author</label>
                <img src="data:image;base64,@Convert.ToBase64String(Model.Author.AuthorPhoto)" alt="Author photo" width="200" height="200" />
            </div>

            <input type="hidden" asp-for="BookId" />
            <input type="hidden" asp-for="AuthorId" />
            <input type="hidden" asp-for="Author.AuthorId" />
            <input type="hidden" asp-for="Author.AuthorName" />
            <input type="hidden" asp-for="Author.Address" />
            <input type="hidden" asp-for="Author.AuthorPhoto" />
            <input type="hidden" asp-for="Author.Books" />

            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
